reddit-summary.json
{
  "name": "reddit-summary",
  "nodes": [
    {
      "parameters": {
        "resource": "postComment",
        "operation": "getAll",
        "subreddit": "={{ $json.subreddit }}",
        "postId": "={{ $json.id }}",
        "returnAll": true
      },
      "id": "81b4a8dd-e80e-4369-9be3-95682597041e",
      "name": "获取帖子评论",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [-1140, 560],
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "redditOAuth2Api": {
          "id": "KnPW2HNGMYje2G0S",
          "name": "Reddit account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-2080, 480],
      "id": "577f25d7-22f6-4a12-8c9b-77eeb83d8b3f",
      "name": "When clicking 'Test workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36265828-655a-4242-95d9-010abd39c684",
              "name": "selftext",
              "value": "={{ $json.selftext }}",
              "type": "string"
            },
            {
              "id": "3c94d606-a7bc-4340-b9b6-c5d94fe4df40",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "022f7955-6ff0-4cfd-b878-d1ac73056146",
              "name": "subreddit",
              "value": "={{ $json.subreddit }}",
              "type": "string"
            },
            {
              "id": "c135b37a-0d68-4815-b0a8-e2506b3c8ef8",
              "name": "post_id",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "afba3f94-d6fa-4482-8145-b96a4ab0b96c",
              "name": "ups",
              "value": "={{ $json.ups }}",
              "type": "number"
            },
            {
              "id": "d923a43e-a6bb-4899-a63b-ef35d6a3b323",
              "name": "num_comments",
              "value": "={{ $json.num_comments }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1140, 200],
      "id": "277d7752-beea-488a-bb17-419791815cab",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb0087e5-aafc-4fd6-9877-9c8705be3a56",
              "leftValue": "={{ $json.distinguished }}",
              "rightValue": "moderator",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-920, 520],
      "id": "2d5f87d0-0c28-464e-a736-935c938706b9",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecf4bf52-143c-4053-af57-f286e0911b4b",
              "name": "post_id",
              "value": "={{ $json.link_id }}",
              "type": "string"
            },
            {
              "id": "525a6e27-880f-4248-84ec-fd2fe7e282d4",
              "name": "comment_body",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-660, 400],
      "id": "16ee1bbb-e958-46bb-b67a-85e3f4d0c8d7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "post_id",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [-300, 80],
      "id": "094312e2-0e2e-43e4-8a62-a0249a36682d",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); const groupedPosts = {}; for (const item of items) { const currentItemJson = item.json; const postId = currentItemJson.post_id; if (!groupedPosts[postId]) { groupedPosts[postId] = { post_id: postId, comments: [] }; } groupedPosts[postId].comments.push(currentItemJson.comment_body); } const output = Object.values(groupedPosts).map(post => ({ json: post })); return output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-420, 440],
      "id": "b7f5d913-9958-4ffd-a291-08b57125ec34",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个专业的Reddit内容分析师。请根据以下Python社区热门帖子数据，生成一份详细的中文分析报告。\n板块(subreddit):{{ $json.subreddit }}\n标题(title):标题翻译成中文\n内容(content):对内容的总结，文章结构要清晰。\n评论(comments)：要对评论内容做总结，如果没有评论内容，则留空\n启示(apocalypse):通过这个帖子的启示\n---\n帖子数据：\n标题：{{ $json.title }}\n内容：{{ $json.selftext }}\n评论内容：{{ $json.comments }}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "33e81a29-93de-454a-92b2-147039325d39",
      "name": "AI智能分析师",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [80, -160]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [80, 80],
      "id": "cd43580e-91e8-4ee9-a945-594c501f584e",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "HG2MiMSzHpKDJXkh",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"subreddit\": \"python\",\n  \t\"post_id\": 1,\n    \"title\": \"title\",\n\t\"content\": \"content\",\n    \"comments\": [\n    \t\"comment1\",\n    \t\"comment2\"\n    ],\n    \"apocalypse\": \"apocalypse\"\n  },\n  {\n    \"subreddit\": \"python\",\n    \"post_id\": 2,\n    \"title\": \"title\",\n\t\"content\": \"content\",\n    \"comments\": [\n    \t\"comment1\",\n    \t\"comment2\"\n    ],\n    \"apocalypse\": \"apocalypse\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [260, 60],
      "id": "39d2b730-7e80-45e2-8e74-f62568dcdae9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "getAll",
        "subreddit": "=internetisbeautiful",
        "limit": "=5",
        "filters": {
          "category": "top"
        }
      },
      "id": "cce31660-6327-416f-b23f-554d6a823fe1",
      "name": "internetisbeautiful 获取热门帖子",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [-1760, 500],
      "credentials": {
        "redditOAuth2Api": {
          "id": "KnPW2HNGMYje2G0S",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "subreddit": "roastmystartup",
        "limit": 5,
        "filters": {
          "category": "top"
        }
      },
      "id": "4e2345c3-3ff8-422e-bc97-21bb94775c71",
      "name": "roastmystartup 获取热门帖子",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [-1760, 160],
      "credentials": {
        "redditOAuth2Api": {
          "id": "KnPW2HNGMYje2G0S",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "subreddit": "imadethis",
        "limit": "=5",
        "filters": {
          "category": "top"
        }
      },
      "id": "e026e817-0865-4085-8db0-b548b9f3c13e",
      "name": "imadethis 获取热门帖子",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [-1760, 340],
      "credentials": {
        "redditOAuth2Api": {
          "id": "KnPW2HNGMYje2G0S",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "subreddit": "sideproject",
        "limit": "=5",
        "filters": {
          "category": "top"
        }
      },
      "id": "46e61217-a7e5-45fb-aad5-b2131305b236",
      "name": "sideprojct获取热门帖子",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [-1760, 900],
      "credentials": {
        "redditOAuth2Api": {
          "id": "KnPW2HNGMYje2G0S",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "subreddit": "indiebiz",
        "limit": "=5",
        "filters": {
          "category": "top"
        }
      },
      "id": "bd7c7633-0faf-41f7-9c0d-e79fe4897cad",
      "name": "indiebiz 获取热门帖子",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [-1740, 720],
      "credentials": {
        "redditOAuth2Api": {
          "id": "KnPW2HNGMYje2G0S",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [-1420, 380],
      "id": "4a5e6483-d94f-433c-9dbd-50c2cd679c40",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "获取帖子评论": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "roastmystartup 获取热门帖子",
            "type": "main",
            "index": 0
          },
          {
            "node": "imadethis 获取热门帖子",
            "type": "main",
            "index": 0
          },
          {
            "node": "internetisbeautiful 获取热门帖子",
            "type": "main",
            "index": 0
          },
          {
            "node": "indiebiz 获取热门帖子",
            "type": "main",
            "index": 0
          },
          {
            "node": "sideprojct获取热门帖子",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI智能分析师",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI智能分析师": {
      "main": [[]]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI智能分析师",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI智能分析师",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "roastmystartup 获取热门帖子": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "imadethis 获取热门帖子": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "internetisbeautiful 获取热门帖子": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "indiebiz 获取热门帖子": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "sideprojct获取热门帖子": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "获取帖子评论",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf80601c-8247-458d-9b9c-e92046feb6c8",
  "meta": {
    "instanceId": "c18b83340b516ec35503d90265d11efa191837c0f100386c72a196f9f7c5c10f"
  },
  "id": "nNkhc4MTSGsDWLsy",
  "tags": []
}
